@charset "ISO-8859-1";

.sc-main{
	 background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/menu-image.jpg) no-repeat 50% 50% !important;
	 background-size: cover !important;
	 position: relative;
 }

.sc-main-paginas{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/menu-image.jpg) no-repeat 50% 50% !important;
	background-size: cover !important;
	position: relative;
}

.sc-main-intranet{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/intranet-header.jpg) no-repeat 50% 50% !important;
	background-size: cover !important;
	position: relative;
}

.sc-main-intranet-perfiles{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../img/intranet-header.jpg) no-repeat 50% 50% !important;
	background-size: cover !important;
	position: relative;
}


.sc-main.segment{
	min-height: 100vh;
}

.sc-main-intranet.segment{
	min-height: 100vh;
}

.sc-main-intranet-perfiles.segment{
	 min-height: 40vh;
 }

.sc-main-paginas.segment{
	min-height: 67px;
}


.sc-header-content{
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
}

#divblack{
	position:fixed;
	top: 0;
	left:0;
	width:100%;
	height:67px;
	padding:10px 100px;
	box-sizing:border-box;
	transition: .8s;
}

.following.bar {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 2em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.greysi.following.bar {
    padding: 0em 0em;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

.hidden-btn{
	padding: 0em 0em;
	margin: 0em 0em;
	background-color: transparent;
	box-shadow: 0px 0px 0px 0px transparent;
	border: 1px solid transparent;
	color: rgba(255, 255, 255, 0.7);
}

.hidden.btn:hover{
	color: rgba(255, 255, 255, 1);
}

.bor{
	border: 1px solid transparent; 
	box-shadow: none;
}

.titulos-centrados{
	text-align: center;
	align-content: center;
}

.margenes{
	margin-top: 10%;
}

.margenes-tabla{
	margin-left: 9%;
	margin-right: 9%;
}

.h4margen{
	margin-top: 2% !important;
}

.pad-footer{
	padding-top: 20px !important;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font:Open Sans;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e1e1e1 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.titulo-index{
	font-size: 50pt !important;
	margin-bottom: 20px !important;
}

.titulos-perfiles{
	font-size: 30pt !important;
}

.div-hora .div-informacion {
	min-height: 530px !important;
}

.div-barbero{
	min-heigth: 530px;
}

.sin-borde{
	border-color:#ffffff !important;
}
.margenes-cartas{
	margin-right: none !important;
}